.contact {
  font-size: 25px;
}
.contact i {
  padding: 10px 20px;
  color: #007bff;
  font-size: 30px;
}
.img img {
  width: 300px;
}
@media (max-width: 576px) {
  .img img {
    width: 200px;
  }
}
